@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h6>Information Collection and Use</h6>

<h6>Data Security</h6>
<p>We collect and store your personal information, such as your name, email address, and phone number, to provide our services and to fulfill your requests. We use this information to respond to your inquiries, address your concerns, and provide you with the best possible experience.</p>